<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MasterConnectionString" value="Server=.\SQLEXPRESS;Database=master;Trusted_Connection=True;Encrypt=False"/>
		<add key="FlashcardsConnectionString" value="Server=.\SQLEXPRESS;Database=Flashcards;Trusted_Connection=True;Encrypt=False"/>
	</appSettings>
</configuration>
